@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
    url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}

body {
  margin: 0;
}

.header-container {
  height: 60px;
  background: white;

  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
}

.left-selection {
  display: flex;
  margin: 10px;
  width: 120px;
  height: 40px;

  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}


.left-selection-box-content {
  text-align: center;
  font-family: arial, "cwTeXYen";
}

.website-name {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.07);
}

.post {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: rgba(46, 129, 46, 0.6);
  transition: 1s;
  transform: skewX(-20deg);
  cursor: pointer;
}

.post:hover {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background: rgba(46, 129, 46, 1);
  transform: skewX(0deg);
}

.post-icon {
  margin: 3px;
}

.right-header {
  display: flex;
}

.right-selection {
  margin-top: 15px;
  margin-right: 10px;
  width: 110px;
  height: 35px;

  border-radius: 5px;
  -webkit-transition: 0.2s;

  font-family: arial, "cwTeXYen";
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}

.right-selection:hover {
  font-family: arial, "cwTeXYen";
  font-size: 18px;
  color: rgba(39, 19, 19, 0.75);
  width: 110px;
  height: 35px;

  border-radius: 5px;
}

.left-box {
  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5)
}

.left-box:hover {
  color: rgba(0, 0, 0, 1);
  font-family: arial, "cwTeXYen";
  font-size: 15px;
}

.login {
  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgba(0, 0, 0, 2.5);
  background: rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  cursor: pointer;
}

.right-selection.login:hover {
  width: 110px;
  height: 35px;

  border-radius: 5px;
  background: rgba(0, 200, 0, 0.5)
}

input[type="submit"] {
  width: 110px;
  height: 35px;

  border-radius: 5px;
  background: rgba(200, 0, 0, 0.35);

  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgba(0, 0, 0, 2.5);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;


  cursor: pointer;

}


.isolate {
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  display: block;
  justify-content: center;
  align-items: center;

  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar {
  height: 40px;
  background: white;

  display: flex;
}

.navbar-button {
  margin: 10px;
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 1s;
}

.navbar-button:hover {
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.5);
}

.navbar-button:hover .navbar-button-content {
  color: rgba(0, 0, 0, 0.6);
  font-family: arial, "cwTeXYen";
  font-size: 15px;
}

.navbar-button-content {
  color: rgba(0, 0, 0, 0.3);
  font-family: arial, "cwTeXYen";
  font-size: 15px;

  text-align: center;
  transition: 0.5s;
}


.nav-allpost {
  font-size: 20px;
}

.navbar-inner {
  margin-top: 15px;
  margin-left: 20px;
}

.nav-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  margin: 3px;
}

#all-post-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.content-box {
  z-index: 5;
  margin: 5px;
  width: 300px;
  height: 550px;
  background: rgba(128, 128, 128, 0.15);
  border: 1px solid rgba(68, 25, 25, 0.15);
  border-radius: 10px;

  -webkit-transition: 1s;
  transition: 1s;
}

.content-box:hover {
  z-index: 10;
  background: rgba(128, 128, 128, 0.45);

  transform: scale(1.1);

}

.inner-upper-content {
  text-align: center;
  font-size: 30px;
  margin: 0;
  height: 250px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}

.upper-content-top-icon {
  visibility: hidden;

  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;

  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.upper-content-bottom-icon {
  visibility: hidden;

  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.inner-upper-content:hover .upper-content-top-icon {
  visibility: visible;

  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;

  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.inner-upper-content:hover .upper-content-bottom-icon {
  visibility: visible;

  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.inner-upper-content:hover .upper-content-top-icon:hover {
  visibility: visible;
  color: rgba(255, 255, 255, 0.85);
  background: rgba(128, 128, 128, 0.7);
}

.inner-upper-content:hover .upper-content-bottom-icon:hover {
  visibility: visible;
  color: rgba(255, 255, 255, 0.85);
  background: rgba(128, 128, 128, 0.7);
}

.content-img {
  position: relative;
  Z-index: 0;
  width: 300px;
  height: 250px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.inner-center-content {
  margin: 10px;
  height: 200px;
  font-family: arial, "cwTeXYen";
  font-size: 2rem;


  overflow: clip;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.inner-center-content:hover {

  overflow: auto;
}

.content-tag {
  font-size: 13px;
  margin: 5px;
  width: 60px;
  height: 30px;
  background: rgba(128, 128, 128, 0.25);

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
  font-size: 16px;
}

.inner-bottom-content {
  margin: 0;
  height: 100px;
  display: flex;
}

.user-pic {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 45px;
  height: 45px;
  border: 3px solid white;
  border-radius: 99%;
}

.userid-postdate {
  font-family: arial, "cwTeXYen";
  font-size: 12px;

  width: 220px;
  height: 50px;

  margin-left: 10px;
  margin-top: 40px;

  color: rgba(0, 0, 0, 0.55)
}

.button-group {
  margin-top: 70px;

  display: flex;
  justify-content: center;
}

.button {
  font-family: arial, "cwTeXYen";
  font-size: 16px;
  margin: 10px;
  height: 35px;
  background: rgba(128, 128, 128, 0.05);

  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  transition: 0.5s;
}

/* .previous-page:hover {
  background: rgba(128, 128, 128, 0.25);
}

.next-page:hover {
  background: rgba(128, 128, 128, 0.25);
}

.previous-page,
.next-page {
  width: 100px;
} */


#page-number {
  font-family: arial, "cwTeXYen";
  font-size: 16px;
  width: 55px;
  height: 35px;
  margin: 5px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}

#page-number:hover {
  background: rgba(128, 128, 128, 0.25);
}

.delete-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
  margin-top: 30px;
  width: 100px;
  height: 35px;

  border-radius: 20px;

  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: rgba(255, 0, 0, 0.25);

  cursor: pointer;

  transition: 0.5s;
}

.delete-btn:hover {
  background: rgba(255, 0, 0, 0.6);
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

/* 
.navbar-button {
  transition: ease-in-out;
  animation-name: flame;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes flame {
  0% {
    background: rgba(255, 150, 80, 0.3)
  }

  50% {
    background: rgba(255, 150, 80, 0.6)
  }

  100% {
    background: rgba(255, 150, 80, 0.3)
  }
} */