@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.header-container {
  padding: 8px;
  height: 80px;
  background: white;

  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
}

.left-selection {
  display: flex;
  margin: 10px;
  width: 120px;
  height: 40px;

  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}


.left-selection-box-content {
  text-align: center;
  font-family: arial, "cwTeXYen";
}

.website-name {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.11);
}

.post {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: rgba(46, 129, 46, 0.6);
  transition: 1s;
  transform: skewX(-20deg);
  cursor: pointer;
}

.post:hover {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background: rgba(46, 129, 46, 1);
  transform: skewX(0deg);
}

.post-icon {
  margin: 3px;
}

.right-header {
  display: flex;
}

.right-selection {
  margin-top: 15px;
  margin-right: 10px;
  width: 110px;
  height: 35px;

  border-radius: 5px;
  -webkit-transition: 0.2s;

  font-family: arial, "cwTeXYen";
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}

.right-selection:hover {
  font-family: arial, "cwTeXYen";
  font-size: 18px;
  color: rgba(39, 19, 19, 0.75);
  width: 110px;
  height: 35px;

  border-radius: 5px;
}

.left-box {
  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5)
}

.left-box:hover {
  color: rgba(0, 0, 0, 1);
  font-family: arial, "cwTeXYen";
  font-size: 15px;
}

.reset-password {
  font-family: arial, "cwTeXYen";
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  cursor: pointer;
}

.reset-password:hover {
  font-family: arial, "cwTeXYen";
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  width: 100px;
  height: 35px;

  border-radius: 5px;
  background: rgba(0, 0, 0, 0.085)
}

.login {
  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgba(0, 0, 0, 2.5);
  background: rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  cursor: pointer;
}

.right-selection.login:hover {
  width: 110px;
  height: 35px;

  border-radius: 5px;
  background: rgba(0, 200, 0, 0.5)
}

input[type="submit"] {
  width: 110px;
  height: 35px;

  border-radius: 5px;
  background: rgba(200, 0, 0, 0.35);

  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgba(0, 0, 0, 2.5);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;


  cursor: pointer;

}


.isolate {
  position: relative;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

}


.text-container {
  width: 750px;
  height: 500px;
}

.submit-button {
  position: relative;
  top: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 35px;

  border-radius: 50px;

  font-family: arial, "cwTeXYen";
  font-size: 25px;
  color: rgb(255, 255, 255);
  background: rgba(0, 70, 70, 0.45);

  cursor: pointer;

  transition: 0.5s;
}

.submit-button:hover {
  background: rgba(0, 70, 70, 0.8);
}

#post-tag {
  width: 400px;
  height: 300px;
  border: 1px solid rgba(128, 128, 128, 0.35);
  border-radius: 30px;
  margin: 30px;


  overflow: auto;
}

.tags {
  font-size: 15px;
  margin: 20px;
  width: 80px;
  height: 30px;
  background: rgba(128, 128, 128, 0.15);

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(128, 128, 128, 0.65);
  text-align: center;
}

.tag-content {
  display: flex;
  flex-wrap: wrap;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}