@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-container {
    height: 60px;
    background: white;
  
    display: flex;
    justify-content: space-between;
  }
  
  .left-header {
    display: flex;
  }
  
  .left-selection {
    display: flex;
    margin: 10px;
    width: 120px;
    height: 40px;
  
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  
  .left-selection-box-content {
    text-align: center;
    font-family: arial, "cwTeXYen";
  }
  
  .website-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
  
  .post {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: rgba(46, 129, 46, 0.6);
    transition: 1s;
    transform: skewX(-20deg);
    cursor: pointer;
  }
  
  .post:hover {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: rgba(46, 129, 46, 1);
    transform: skewX(0deg);
  }
  
  .post-icon {
    margin: 3px;
  }
  
  .right-header {
    display: flex;
  }
  
  .right-selection {
    margin: 15px;
    width: 100px;
    height: 35px;
  
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .left-box {
    font-family: arial, "cwTeXYen";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5)
  }
  
  .left-box:hover {
    color: rgba(0, 0, 0, 1);
    font-family: arial, "cwTeXYen";
    font-size: 15px;
  }
  
  .reset-password {
    font-family: arial, "cwTeXYen";
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: 0.5s;
    cursor: pointer;
  }
  
  .reset-password:hover {
    font-family: arial, "cwTeXYen";
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 35px;
  
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.085)
  }
  
  .login {
    font-family: arial, "cwTeXYen";
    font-size: 15px;
    color: rgba(0, 0, 0, 2.5);
    background: rgba(0, 0, 0, 0.05);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: 0.5s;
    cursor: pointer;
  }
  
  .right-selection.login:hover {
    width: 100px;
    height: 35px;
  
    border-radius: 5px;
    background: rgba(0, 200, 0, 0.5)
  }

  .isolate {
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
  }
  

  /* center */
body{
  margin: 0;
  padding: 0;
  background-image: url(city.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background: linear-gradient(120deg,#2980b9, #8e44ad); */
  height: 100vh;
  
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

input{  
    height: 40px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 5px;
    font-size: 18px;
    border-bottom: 1px solid gray;
    outline: none;
    background: none;
}


input[type=text]:focus {
    border: 3px solid #5c86ff; 
  }
  
  
  input[type=password]:focus {
    border: 3px solid #5c86ff; 
  }

  input::placeholder{
    font-family: arial, "cwTeXYen";
  }

  .login{
    margin: 10px;

}

.login:hover{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#login-btn:active{
  background-color: #ffeb80;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

#login-btn:hover{
  background-color: #ffeb80;
}

#login-btn{
  background-color: #949494;
}

.signup_link{
    text-align: center;
    margin-top: 10px;
    font-family: arial, "cwTeXYen";
}
