@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-container {
    height: 60px;
    background: white;
  
    display: flex;
    justify-content: space-between;
  }
  
  .left-header {
    display: flex;
  }
  
  .left-selection {
    display: flex;
    margin: 10px;
    width: 120px;
    height: 40px;
  
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  
  .left-selection-box-content {
    text-align: center;
    font-family: arial, "cwTeXYen";
  }
  
  .website-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
  
  .post {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: rgba(46, 129, 46, 0.6);
    transition: 1s;
    transform: skewX(-20deg);
    cursor: pointer;
  }
  
  .post:hover {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: rgba(46, 129, 46, 1);
    transform: skewX(0deg);
  }
  
  .post-icon {
    margin: 3px;
  }
  
  .right-header {
    display: flex;
  }
  
  .right-selection {
    margin: 15px;
    width: 100px;
    height: 35px;
  
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .left-box {
    font-family: arial, "cwTeXYen";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5)
  }
  
  .left-box:hover {
    color: rgba(0, 0, 0, 1);
    font-family: arial, "cwTeXYen";
    font-size: 15px;
  }


body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body:hover {
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}


  /* center */

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}


.header-container {
  height: 60px;
  background: white;

  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
}

.left-selection {
  display: flex;
  margin: 10px;
  width: 120px;
  height: 40px;

  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}


.left-selection-box-content {
  text-align: center;
  font-family: arial, "cwTeXYen";
}

.website-name {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.07);
}

.post {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: rgba(46, 129, 46, 0.6);
  transition: 1s;
  transform: skewX(-20deg);
  cursor: pointer;
}



  input::placeholder{
    font-family: arial, "cwTeXYen";
  }

  .login{
    margin: 10px;
  }

.post:hover {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background: rgba(46, 129, 46, 1);
  transform: skewX(0deg);
}

.post-icon {
  margin: 3px;
}

.right-header {
  display: flex;
}

.right-selection {
  margin: 15px;
  width: 100px;
  height: 35px;

  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.left-box {
  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5)
}

.left-box:hover {
  color: rgba(0, 0, 0, 1);
  font-family: arial, "cwTeXYen";
  font-size: 15px;
}

.reset-password {
  font-family: arial, "cwTeXYen";
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  cursor: pointer;
}

.reset-password:hover {
  font-family: arial, "cwTeXYen";
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  width: 100px;
  height: 35px;

  border-radius: 5px;
  background: rgba(0, 0, 0, 0.085)
}

.login {
  font-family: arial, "cwTeXYen";
  font-size: 15px;
  color: rgba(0, 0, 0, 2.5);
  background: rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  cursor: pointer;
}

.right-selection.login:hover {
  width: 100px;
  height: 35px;

  border-radius: 5px;
  background: rgba(0, 200, 0, 0.5)
}

.isolate {
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
}



.login-form h1 {
  padding: 50px;
}


.login-form {
  position: absolute;
  bottom: 20%;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.google {
  height: 44px;
  width: 300px;
  border-radius: 5px;
  box-sizing: border-box;
}

.line {
  height: 15px;
  color: black;
}

input {
  height: 40px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px;
  font-size: 18px;
  border-bottom: 1px solid gray;
  outline: none;
  background: none;
}

#login-btn {
  background-color: rgba(255, 255, 255, 0.2);
}

#login-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.signup_link{
    text-align: center;
    margin-top: 10px;
    font-family: arial, "cwTeXYen";
}


.view:hover,
.view:active {
  font-size: 150%;
}

